<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yellowsneakers.business.system.mapper.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="dictResultMap" type="org.yellowsneakers.business.system.model.Dict">
        <result column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="code" property="code"/>
        <result column="dict_key" property="dictKey"/>
        <result column="dict_value" property="dictValue"/>
        <result column="sort" property="sort"/>
        <result column="parent_id" property="parentId"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id,
        status,
        code, dict_key AS dictKey, dict_value AS dictValue, sort, remark
    </sql>
    
    <select id="selectByCodeAndKey" resultType="java.lang.String" parameterType="java.util.Map">
    	select dict_value from blade_dict where status=1 and code=#{code} and dict_key in
    	<foreach collection="keys" item="item" index="index" open="(" separator="," close=")">
    		#{item}
    	</foreach>
    </select>
    
    <select id="selectSubType" resultMap="dictResultMap">
    	select code, dict_key, dict_value from blade_dict a 
    	where a.status=1 
    	and EXISTS (select 1 from blade_dict b where b.code=#{code} and b.dict_key=#{dictKey} and a.parent_id=b.id)
    </select>
    

</mapper>
