<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yellowsneakers.business.system.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="roleResultMap" type="org.yellowsneakers.business.system.model.Role">
        <result column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="remark" property="remark"/>        
        <result column="status" property="status"/>
        <result column="parent_name" property="parentName"/>
    </resultMap>
    
    <select id="selectParentRoles" resultMap="roleResultMap">
		SELECT
			*
		FROM
			blade_role
		WHERE
			ID IN (SELECT
			parent_id
		FROM
			blade_role WHERE parent_id IS NOT NULL AND status=1
		GROUP BY parent_id)    	
    </select>
    
</mapper>
